/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/buildfingerprint.bin
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.5/checksums/checksums.lock
/.gradle/8.0/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/configuration-cache/configuration-cache.lock
/build/reports/configuration-cache/cbngny7vmeq10ks1esuvg880b/dk99e4q04xt075hpt2p6th7xf/configuration-cache-report.html
/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.5/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.idea/deploymentTargetDropDown.xml
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/entry.bin
/.gradle/7.2/executionHistory/executionHistory.bin
/.gradle/7.5/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/7.2/executionHistory/executionHistory.lock
/.gradle/7.5/executionHistory/executionHistory.lock
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.2/fileHashes/fileHashes.bin
/.gradle/7.5/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/7.2/fileHashes/fileHashes.lock
/.gradle/7.5/fileHashes/fileHashes.lock
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/7.2/dependencies-accessors/gc.properties
/.gradle/7.2/gc.properties
/.gradle/7.5/dependencies-accessors/gc.properties
/.gradle/7.5/gc.properties
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/configuration-cache/gc.properties
/.idea/libraries/Gradle__androidx_activity_activity_1_6_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_0_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_4_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_9_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_9_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_5_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_annotation_1_0_1_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_5_1_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_5_1_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_5_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_5_2_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_2_aar.xml
/.idea/libraries/Gradle__androidx_tracing_tracing_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_9_0_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_2.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_1_0.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_7_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_7_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_6_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_6_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_6_1.xml
/.gradle/7.2/fileChanges/last-build.bin
/.gradle/7.5/fileChanges/last-build.bin
/.gradle/8.0/fileChanges/last-build.bin
/.gradle/7.5/checksums/md5-checksums.bin
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/projectfingerprint.bin
/.gradle/7.2/fileHashes/resourceHashesCache.bin
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/7.5/checksums/sha1-checksums.bin
/.idea/modules/app/VirtueGrow.app.androidTest.iml
/.idea/modules/app/VirtueGrow.app.iml
/.idea/modules/app/VirtueGrow.app.main.iml
/.idea/modules/app/VirtueGrow.app.unitTest.iml
/.idea/modules/VirtueGrow.iml
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/work.bin
